body, html { margin: 0; }

.jumbotron { 
	background-image: url('../images/background_02.png'); 
	height: 708px;
	border: 1px solid transparent;
	padding-bottom: 80px;
	width: 1535px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	height: 105px;
	position: fixed;
	background-image: url('../images/nav_background_01.png');
	background-repeat: no-repeat;
	z-index: 100;
	width: 100%;
}

.nav-items {
	width: 1096px;
	margin: 38px 0 0 423px;
	height: inherit;
}

.nav-items > li {
	margin-right: 10px;
	height: 48px;
	width: 264px;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}

.nav-items > li:nth-child(1) {
	background-image: url('../images/select_nav_03.png');
}

.nav-items > li:nth-child(2) {
	background-image: url('../images/free_nav_05.png');
}

.nav-items > li:nth-child(3) {
	background-image: url('../images/supply_nav_07.png');
}

.nav-items > li:nth-child(4) {
	background-image: url('../images/checkout_nav_09.png');
}

.nav-items > li:nth-child(1):hover {
	background-image: url('../images/select_active_nav_03.jpg');
}

.nav-items > li:nth-child(2):hover {
	background-image: url('../images/free_active_nav_05.jpg');
}

.nav-items > li:nth-child(3):hover {
	background-image: url('../images/supply_active_nav_07.jpg');
}

.nav-items > li:nth-child(4):hover {
	background-image: url('../images/checkout_active_nav_09.png');
}

.main-grid {
	margin: 158px 0 0 0;
}

.call-to-action {
	background-image: url('../images/banner_background_03.png');
	height: 450px;
	width: 721px;
	position: relative;
	display: inline-block;
	margin-bottom: 142px;
	background-repeat: no-repeat;
	background-size: cover;
}

.adam-quote {
	background-image: url('../images/adam_quote_03.png');
	height: 138px;
	width: 570px;
	margin: 38px auto 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.cta-button {
	background-image: url('../images/cta_button_03.png');
	height: 69px;
	width: 315px;
	margin: 40px auto 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.cta-button-text {
	background-image: url('../images/cta_button_text_03.png');
	background-position: 50% 20%;
	height: 40px;
	width: 210px;
	position: absolute;
	margin: 24px 0 5px 55px;
	background-repeat: no-repeat;
	background-size: cover;
}

.limited-time-text {
	background-image: url('../images/limited_time_text_03.png');
	height: 91px;
	width: 407px;
	margin: 34px auto 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.products-group {
	background-image: url('../images/products_group_02.png');
	background-repeat: no-repeat;
	height: 570px;
	width: 390px;
	display: inline-block;
	background-size: cover;
	margin-right: 20px;
	margin-bottom: 20px;
}

.tablet-prod-cta {
	display: none;
}

.guarantee-banner {
	height: 93px;
	width: 1535px;
	position: relative;
	background-image: url('../images/guarantee_banner_02.png');
	margin: -162px auto 0 auto;
	background-repeat: no-repeat;
}

@media (max-width: 960px) {

	.jumbotron { 
		width: 960px;
		background-size: 100%;
	}

	nav {
		height: 105px;
		width: 960px;
		background-size: 100%;
	}

	.nav-items {
		margin: 23px 0 0 290px;
	}

	.nav-items > li {
		margin-right: 5px;
		height: 28px;
		width: 160px;
		background-size: contain;
	}

	.main-grid {
		margin: 102px 0 0 0;
	}

	.products-group {
		height: 400px;
		width: 220px;
		background-size: 100%;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.call-to-action {
		height: 280px;
		width: 551px;
		background-size: contain;
		margin-bottom: 167px;
	}

	.adam-quote {	
		height: 88px;
		width: 365px;
		margin: 24px 0 0 43px;
		position: relative;
		background-size: contain;
	}

	.cta-button {
		height: 44px;
		width: 201px;
		margin: 23px 0 0 123px;
		background-size: contain;
	}

	.cta-button-text {
		height: 24px;
		margin: 14px 0 5px -4px;
	}

	.limited-time-text {
		height: 59px;
		width: 264px;
		margin: 23px 0 0 91px;
		background-size: contain;
	}

	.guarantee-banner {
		height: 93px;
		margin-top: -399px;
		background-size: contain;
		width: 960px;
	}
}

@media (max-width: 768px) {

	.jumbotron {
		background-image: url('../images/break_background_02.png'); 
		width: 768px;
		background-size: 100%;
		height: 344px;
	}

	nav {
		width: 768px;
		height: 54px;
	}

	.nav-items {
		margin: 20px 0 0 180px;
		height: 30px;
	}

	.nav-items > li {
		height: 25px;
		width: 140px;
	}

	.main-grid {
		display: none;
	}

	.guarantee-banner {
		display: none;
	}

	.tablet-prod-cta {
		background-image: url(../images/break_prod_cta_02.png);
		background-repeat: no-repeat;
		height: 395px;
	  	margin: 16px 0 0 0;
	  	width: 465px;
		background-size: contain;
		display: inline-block;
	}

	.tablet-guarantee-banner {
		background-image: url('../images/tablet_banner_03.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: 93px;
		margin-top: -140px;
	}	
}